/*
 * --------------------------------------------------------------------------------------------------------------
 * Base colors for the predefined styles
 */

* {
    -style1-color: rgba(119.0, 192.0, 75.0, 0.9);  // green
    -style2-color: rgba(65.0, 143.0, 203.0, 0.9);  // blue
    -style3-color: rgba(247.0, 209.0, 91.0, 0.9);  // yellow
    -style4-color: rgba(157.0, 91.0, 159.0, 0.9);
    -style5-color: rgba(208.0, 82.0, 95.0, 0.9);
    -style6-color: rgba(249.0, 132.0, 75.0, 0.9);
    -style7-color: rgba(174.0, 102.0, 62.0, 0.9);
    -style8-color: black;

    -weekend-fill-color: rgb(245.0, 245.0, 245.0);
    -today-fill-color: firebrick;

    -usage-very-low-color: lightgreen;
    -usage-low-color: green;
    -usage-medium-color: gold;
    -usage-high-color: darkorange;
    -usage-very-high-color: red;

    -usage-very-low-text-color: green;
    -usage-low-text-color: lightgreen;
    -usage-medium-text-color: black;
    -usage-high-text-color: black;
    -usage-very-high-text-color: white;
}


/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 1 (green).
 */

.style1-icon, .style1-icon-small {
    -fx-fill: -style1-color;
    -fx-stroke: -style1-color;
}

.style1-entry {
    -fx-background-color: derive(-style1-color, 70.0%);
    -fx-border-color: -style1-color;
}

.style1-entry:selected {
    -fx-background-color: -style1-color;
}

.style1-entry-time-label, .style1-entry-title-label {
    -fx-text-fill: derive(-style1-color, -30.0%);
}

.style1-entry-small:selected {
    -fx-background-color: -style1-color;
}

.style1-entry-small-full-day {
    -fx-background-color: derive(-style1-color, 70.0%);
}

.style1-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style1-color, -30.0%);
}

.style1-entry-small-full-day:selected {
    -fx-background-color: -style1-color;
}

.style1-visibility-checkbox > .box,
.style1-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style1-color, 70.0%);
}

.style1-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style1-color, 70.0%);
}

.style1-entry-popover-title {
    -fx-text-fill: derive(-style1-color, -50.0%) !important;
}

.style1-calendar-header {
    -fx-background-color: derive(-style1-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 2 (blue).
 */

.style2-icon, .style2-icon-small {
    -fx-fill: -style2-color;
    -fx-stroke: -style2-color;
}

.style2-entry {
    -fx-background-color: derive(-style2-color, 70.0%);
    -fx-border-color: -style2-color;
}

.style2-entry:selected {
    -fx-background-color: -style2-color;
}

.style2-entry-time-label, .style2-entry-title-label {
    -fx-text-fill: derive(-style2-color, -50.0%);
}

.style2-entry-small:selected {
    -fx-background-color: -style2-color;
}

.style2-entry-small-full-day {
    -fx-background-color: derive(-style2-color, 70.0%);
}

.style2-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style2-color, -30.0%);
}

.style2-entry-small-full-day:selected {
    -fx-background-color: -style2-color;
}

.style2-visibility-checkbox > .box,
.style2-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style2-color, 70.0%);
}

.style2-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style2-color, 70.0%);
}

.style2-entry-popover-title {
    -fx-text-fill: derive(-style2-color, -30.0%) !important;
}

.style2-calendar-header {
    -fx-background-color: derive(-style2-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 3 (yellow).
 */

.style3-icon, .style3-icon-small {
    -fx-fill: -style3-color;
    -fx-stroke: -style3-color;
}

.style3-entry {
    -fx-background-color: derive(-style3-color, 70.0%);
    -fx-border-color: -style3-color;
}

.style3-entry:selected {
    -fx-background-color: -style3-color;
}

.style3-entry-time-label, .style3-entry-title-label {
    -fx-text-fill: derive(-style3-color, -50.0%);
}

.style3-entry-small:selected {
    -fx-background-color: -style3-color;
}

.style3-entry-small-full-day {
    -fx-background-color: derive(-style3-color, 70.0%);
}

.style3-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style3-color, -30.0%);
}

.style3-entry-small-full-day:selected {
    -fx-background-color: -style3-color;
}

.style3-visibility-checkbox > .box,
.style3-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style3-color, 70.0%);
}

.style3-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style3-color, 70.0%);
}

.style3-entry-popover-title {
    -fx-text-fill: derive(-style3-color, -30.0%) !important;
}

.style3-calendar-header {
    -fx-background-color: derive(-style3-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 4 (purple).
 */

.style4-icon, .style4-icon-small {
    -fx-fill: -style4-color;
    -fx-stroke: -style4-color;
}

.style4-entry {
    -fx-background-color: derive(-style4-color, 70.0%);
    -fx-border-color: -style4-color;
}

.style4-entry:selected {
    -fx-background-color: -style4-color;
}

.style4-entry-time-label, .style4-entry-title-label {
    -fx-text-fill: derive(-style4-color, -50.0%);
}

.style4-entry-small:selected {
    -fx-background-color: -style4-color;
}

.style4-entry-small-full-day {
    -fx-background-color: derive(-style4-color, 70.0%);
}

.style4-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style4-color, -30.0%);
}

.style4-entry-small-full-day:selected {
    -fx-background-color: -style4-color;
}

.style4-visibility-checkbox > .box,
.style4-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style4-color, 70.0%);
}

.style4-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style4-color, 70.0%);
}

.style4-entry-popover-title {
    -fx-text-fill: derive(-style4-color, -30.0%) !important;
}

.style4-calendar-header {
    -fx-background-color: derive(-style4-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 5 (red).
 */

.style5-icon, .style5-icon-small {
    -fx-fill: -style5-color;
    -fx-stroke: -style5-color;
}

.style5-entry {
    -fx-background-color: derive(-style5-color, 70.0%);
    -fx-border-color: -style5-color;
}

.style5-entry:selected {
    -fx-background-color: -style5-color;
}

.style5-entry-time-label, .style5-entry-title-label {
    -fx-text-fill: derive(-style5-color, -50.0%);
}

.style5-entry-small:selected {
    -fx-background-color: -style6-color;
}

.style5-entry-small-full-day {
    -fx-background-color: derive(-style5-color, 70.0%);
}

.style5-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style5-color, -30.0%);
}

.style5-entry-small-full-day:selected {
    -fx-background-color: -style5-color;
}

.style5-visibility-checkbox > .box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style5-color, 70.0%);
}

.style5-visibility-checkbox:focused > .box,
.style5-source-grid-item-box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style5-color, 70.0%);
}

.style5-entry-popover-title {
    -fx-text-fill: derive(-style5-color, -30.0%) !important;
}

.style5-calendar-header {
    -fx-background-color: derive(-style5-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 6 (orange).
 */

.style6-icon, .style6-icon-small {
    -fx-fill: -style6-color;
    -fx-stroke: -style6-color;
}

.style6-entry {
    -fx-background-color: derive(-style6-color, 70.0%);
    -fx-border-color: -style6-color;
}

.style6-entry:selected {
    -fx-background-color: -style6-color;
}

.style6-entry-time-label, .style6-entry-title-label {
    -fx-text-fill: derive(-style6-color, -50.0%);
}

.style6-entry-small:selected {
    -fx-background-color: -style6-color;
}

.style6-entry-small-full-day {
    -fx-background-color: derive(-style6-color, 70.0%);
}

.style6-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style6-color, -30.0%);
}

.style6-entry-small-full-day:selected {
    -fx-background-color: -style6-color;
}

.style6-visibility-checkbox > .box,
.style6-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style6-color, 70.0%);
}

.style6-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style6-color, 70.0%);
}

.style6-entry-popover-title {
    -fx-text-fill: derive(-style6-color, -30.0%) !important;
}

.style6-calendar-header {
    -fx-background-color: derive(-style6-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 7 (brown).
 */

.style7-icon, .style7-icon-small {
    -fx-fill: -style7-color;
    -fx-stroke: -style7-color;
}

.style7-entry {
    -fx-background-color: derive(-style7-color, 70.0%);
    -fx-border-color: -style7-color;
}

.style7-entry:selected {
    -fx-background-color: -style7-color;
}

.style7-entry-time-label, .style7-entry-title-label {
    -fx-text-fill: derive(-style7-color, -50.0%);
}

.style7-entry-small:selected {
    -fx-background-color: -style7-color;
}

.style7-entry-small-full-day {
    -fx-background-color: derive(-style7-color, 70.0%);
}

.style7-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style7-color, -30.0%);
}

.style7-entry-small-full-day:selected {
    -fx-background-color: -style7-color;
}

.style7-visibility-checkbox > .box,
.style7-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style7-color, 70.0%);
}

.style7-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style7-color, 70.0%);
}

.style7-entry-popover-title {
    -fx-text-fill: derive(-style7-color, -30.0%) !important;
}

.style7-calendar-header {
    -fx-background-color: derive(-style7-color, 70.0%);
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar type 8 (black).
 */

.style8-icon, .style8-icon-small {
    -fx-fill: -style8-color;
    -fx-stroke: -style8-color;
}

.style8-entry {
    -fx-background-color: derive(-style8-color, 70.0%);
    -fx-border-color: -style8-color;
}

.style8-entry:selected {
    -fx-background-color: -style8-color;
}

.style8-entry-time-label, .style8-entry-title-label {
    -fx-text-fill: derive(-style8-color, -50.0%);
}

.style8-entry-small:selected {
    -fx-background-color: -style8-color;
}

.style8-entry-small-full-day {
    -fx-background-color: derive(-style8-color, 70.0%);
}

.style8-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style8-color, -30.0%);
}

.style8-entry-small-full-day:selected {
    -fx-background-color: -style8-color;
}

.style8-visibility-checkbox > .box,
.style8-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style8-color, 70.0%);
}

.style8-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style8-color, 70.0%);
}

.style8-entry-popover-title {
    -fx-text-fill: derive(-style8-color, -30.0%) !important;
}

.style8-calendar-header {
    -fx-background-color: derive(-style8-color, 70.0%);
}
